.article {
  max-width: 980px;
  h1 {
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 40px;
    max-width: 980px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
    margin-top: 40px;
    text-transform: none;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 24px;
    margin-top: 40px;
    text-transform: none;
  }
  b {
    font-family: $font-family_bold;
  }
  img {
    margin: 25px 0;
  }
  p {
    max-width: 980px;
    margin-bottom: 10px;
  }
  .q {
    margin: 40px 0;
    padding: 20px 40px;
    max-width: 980px;
    border-left: 2px solid $color_coral;
    font-family: $font-family_medium;
  }
  ol {
    margin-bottom: 20px;
    counter-reset: myCounter;
    padding: 0;
    li {
      list-style: none;
      display: flex;
      align-items: flex-start;
      margin-bottom: 8px;
      &:before {
        counter-increment: myCounter;
        content:counter(myCounter)'.';
        margin: 0 16px 0 0;
        font-family: $font-family_bold;
      }
    }
  }
  ul {
    margin-bottom: 20px;
    padding-left: 25px;
    list-style-type: none;
    li {
      margin-bottom: 8px;
      position: relative;
      &:before {
        width: 6px;
        height: 6px;
        background-color: $color_coral;
        content: '';
        margin: 0 16px 0 0;
        position: absolute;
        left: -25px;
        top: 6px;
      }
    }
  }
  .lists {
    margin: 25px 0;
    display: flex;
    ul {
      margin-right: 32px;
    }
  }
  .article_img {
    width: 100%;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    img {
      margin-right: 32px;
      display: block;
      max-width: calc(50% - 16px);
        &:nth-child(2n) {
          margin-right: 0;
        }
    }
  }
}

.author {
  width: 100%;
  display: flex;
  align-items: center;
    img {
      margin-top: 0;
      margin-right: 10px;
      margin-bottom: 0;
      display: block;
    }
    .date {
      margin-right: 20px;
      font-size: 14px;
      display: flex;
      align-items: center;
        p {
          opacity: 0.5;
          margin-bottom: 0;
        }
    }
    .person {
      font-size: 14px;
      display: flex;
      align-items: center;
        p {
          opacity: 0.5;
          margin-bottom: 0;
        }
    }
}