.breadcrumbs {
  margin-bottom: 24px;
  .breadcrumbs_list {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      overflow: hidden;
      margin-bottom: 5px;
    }
    li a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: $color-coral;
      }
    }
    li p {
      color: #000;
      opacity: 0.4;
    }
    li span {
      margin: 0 4px;
    }
    .disabled {
      white-space: nowrap;
      max-width: 250px;
      text-overflow: ellipsis;
    }
  }
}

.bc_back {
  display: flex;
  align-items: center;
  svg {
    margin-right: 6px;
  }
}

.mobile {
  display: none;
}

