.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header-addit {
  background-color: $color-black;
  position: static;
}

.header__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.main_contacts {
  display: flex;
  align-items: center;
    .search {
      margin-right: 20px;
        img {
          display: block;
        }
    }
    .phone {
      .dropdown_hover {
        .dropdown__text {
          a {
            color: #fff;
          }
        }
        &:hover p a {
          color: $color-coral;
        }
      }
    }
}

.dropdown_hover {
  position: relative;
  padding: 16px 0;
  .dropdown__text {
    font-size: 14px;
    a {
      display: block;
    }
    p:after {
      top: 7px;
      width: 6px;
      height: 6px;
    }
  }
  .dropdown__list {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    display: block;
  }
  &:hover {
    .dropdown__list {
      visibility: visible;
      opacity: 1;
      transition: all 0.2s ease-out;
    }
    .dropdown__text {
      a {
        color: $color_coral;
      }
      p::after {
        transform: rotate(-45deg);
        top: 10px !important;
        border-color: $color_coral;
      }
    }
  }
}

.phone_menu {
  .dropdown__list {
    width: auto;
    min-width: 180px;
  }
}