.list {
  padding-left: 25px;
  list-style-type: none;
  li {
    margin-bottom: 8px;
    position: relative;
    &:before {
      width: 6px;
      height: 6px;
      background-color: $color-coral;
      content: '';
      margin: 0 16px 0 0;
      position: absolute;
      left: -25px;
      top: 8px;
    }
  }
}

.link_list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  width: fit-content;
  li {
    margin-bottom: 12px;
    list-style-type: none;
    width: fit-content;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      display: none;
    }
  }
}