.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  & li {
    flex: 0 1 auto;
  }

  & li:first-child .nav__link {
    padding-left: 0;
  }

  & li:last-child .nav__link {
    padding-right: 0;
  }
  & li:last-child {
    padding-right: 0;
  }
  & li:first-child {
    padding-left: 0;
  }
}

.nav__link {
  @extend .link;
  padding: 0 20px;
  text-decoration: none;
  font-family: $font-family_medium;
  font-size: 14px;
    a {
      color: #fff;
      text-decoration: none;
        &:hover {
          color: $color_coral;
        }
    }
  .dropdown__text {
    &:first-child {
      padding-left: 0;
    }
  }
}

.simple_link {
  padding: 0 30px;
}