//some styles
.slider_controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.nums {
  span {
    font-size: 18px;
  }
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

.btn_left {
  width: 10px;
  height: 10px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  transform: rotate(-135deg);
  opacity: 0.6;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
  }
}

.btn_right {
  width: 10px;
  height: 10px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  transform: rotate(45deg);
  transition: all 0.3s;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.ico_box {
  display: flex;
  align-items: flex-start;
    .ico {
      margin-right: 12px;
    }
    .text {
      p, .link_coral {
        font-size: 14px;
        font-family: $font-family_medium;
        max-width: 270px;
      }
      .link_coral {
        margin-top: 12px;
      }
      .link {
        font-size: 14px;
        font-family: $font-family_medium;
      }
    }
}

.quote {
  border: 1px solid #E0E0E0;
  padding: 20px 40px;
  p {
    width: 100%;
    text-align: center;
    font-family: $font-family_semibold;
  }
}

.last {
  margin-bottom: 0;
  padding-bottom: 0;
}

.contacts_rows {
  .page__item_body {
    margin-bottom: 40px;
    .contacts_row .contacts_column {
      margin-right: 0;
    }
      h3 {
        margin-bottom: 30px;
      }
  }
}

.the_first {
  padding-top: 60px;
}

.invert_box {
  .right {
    margin-left: 0 !important;
    margin-right: -17%;
      .bold {
        margin-bottom: 10px;
      }
    &:after {
      display: none;
    }
  }
}

.equipment_text {
  width: 100%;
  margin-bottom: 60px;
  h3 {
    margin-bottom: 40px;
    margin-top: 0;
  }
  .crossing_box .right:after {
    display: none;
  }
  .crossing_box .right {
    margin-left: -8%;
  }
  .crossing_box .right_box {
    padding: 56px 0 0 56px;
  }
}

.search {
  position: relative;
  cursor: pointer;
}

.search_box {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -8px;
  left: -200px;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
    .close_search {
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
    }
  .info_buble {
    position: absolute;
    right: 0;
    width: 206px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
    transition: all 0.3s ease-out;
    border: 1px solid #ccc;
      li {
        padding: 10px;
          a {
            font-size: 12px;
            line-height: 14px;
          }
      }
  }
  .form__item {
    height: 32px;
    width: 180px;
    max-width: 180px;
    margin-right: 0;
    padding: 0 12px;
    background-image: url('../img/loop-2.svg');
    background-repeat: no-repeat;
    background-position: 180px center;
    -webkit-background-size: 12px;
    background-size: 12px;
  }
  &:focus-within {
    .info_buble {
      opacity: 1;
      visibility: visible;
    }
  }
}

.search_opened {
  visibility: visible;
  opacity: 1;
}

.descr_box .line {
  min-width: 40px;
}

.about_article {
  padding-left: 60px;
  margin-bottom: 60px;
    p {
      margin-bottom: 20px;
    }
}

.p_r {
  .title_descr {
    margin-bottom: 0 !important;
  }
  .right_box {
    padding: 40px 0 40px 56px !important;
  }
}

.about_cb {
  padding-left: 56px;
  .left {
    width: 45% !important;
  }
  .right {
    &:after {
      display: none !important;
    }
  }
  .right_box {
    padding: 40px 0 0 40px !important;
    .right_box__inner {
      padding-right: 0;
      .coral {
        margin-bottom: 10px;
      }
      .descr_box p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.last_about__box {
  padding-left: 56px;
    .bold16 {
      margin-bottom: 40px;
      max-width: 500px;
      font-size: 18px;
    }
    .tile_texts {
      .tile__item {
        position: relative;
          .text14 {
            padding-left: 30px;
          }
      }
    }
}

.square {
  width: 9px;
  height: 9px;
  content: '';
  background-color: $color_coral;
  position: absolute;
  top: 6px;
  left: 0;
}

.last_block {
  margin-bottom: 0 !important;
}

.tablet {
  display: none;
}

.video_box {
  width: 100%;
  align-items: center;
    .left {
      width: 60%;
      .video_frame {
        width: 100%;
        max-width: 640px;
        height: 320px;
      }
    }
    .right {
      width: 40%;
        .bold {
          margin-bottom: 12px;
          font-size: 18px;
        }
    }
}

.item_main_box {
  .left {
    max-width: 50%;
  }
}