@media (max-width: 1200px) {
  .hamburger {
    display: block;
  }
  .header {
      &__inner {
        padding: 20px;
      }
    .main_menu {
      display: none;
    }
    .phone {
      display: none;
    }
  }
  .main_contacts .search {
    margin-right: 40px;
  }
  .crossing_box {
    flex-direction: column;
      .left {
        width: 100%;
          img {
            width: 100%;
            display: block;
          }
      }
      .right {
        width: 85%;
        margin-left: 0;
        margin-top: -17%;
        overflow: hidden;
          &_box {
            padding: 40px 0 40px 40px;
          }
      }
  }

  .page__top {
    .slick-dots {
      display: none !important;
    }
  }

  .page__top_title {
    padding: 0 40px;
  }

  .contacts_row {
    flex-direction: column;
      .contacts_column {
        width: 100%;
        margin-bottom: 32px;
          .ico_box {
            .text p {
              max-width: 100%;
            }
          }
      }
  }

  .footer_top {
    display: none;
  }
  .footer_bottom .footer__inner {
    .left {
      padding-left: 20px;
    }
    .right {
      padding-right: 20px;
    }
  }
  .footer__inner_accordion {
    display: block;
  }

  .tile {
    .tile__item {
      width: calc(50% - 16px);
      margin-right: 32px;
      margin-bottom: 32px;
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .catalog_tile {
    .item {
      width: calc(50% - 16px);
      margin-right: 32px;
      margin-bottom: 32px;
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .tile_icons {
    margin-bottom: 20px;
    .tile__item {
      display: flex;
      align-items: flex-start;
        img {
          margin-right: 20px;
          width: 40px;
        }
    }
  }
  .contacts_rows {
    margin-bottom: 0;
    .page__item_body {
      margin-bottom: 0;
    }
  }
  .mobile {
    display: block;
  }
  .bc_long {
    display: none !important;
  }
  .catalog_list.catalog_tile .item:nth-child(3n+3) {
    margin-right: 0;
  }
  .item_main_box {
    flex-direction: column;
    margin-bottom: 30px;
    .right {
      margin-left: 0;
    }
    .left {
      width: 100%;
    }
  }
  .table {
    width: 100%;
    overflow-x: auto;
  }
  .article .images img {
    display: block;
    margin-right: 0;
    width: 100%;
  }
  .article h2 {
    font-size: 20px;
    margin-top: 20px;
  }
  .article h3 {
    font-size: 18px;
  }
  .crossing_box .left {
    width: 100% !important;
  }
  .p_r.crossing_box .right {
    overflow: hidden;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    .right_box {
      padding: 0 0 40px 0 !important;
    }
  }
  .about_article {
    margin-bottom: 60px;
    padding-left: 0;
    p:last-child {
           margin-bottom: 0;
         }
  }
  .about_cb {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .about_cb .right_box {
    padding: 40px 0 0 0 !important;
  }
  .about_cb.crossing_box .right {
    overflow: hidden;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .last_about__box {
    padding-left: 0;
  }
  .article .images img {
    max-width: 100%;
    margin: 0 0 25px 0;
  }
  .tablet {
    display: block;
    margin-bottom: 20px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .video_box {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
      .left {
        width: 100%;
        margin-bottom: 32px;
          .video_frame {
            max-width: 100%;
          }
      }
    .right {
      width: 100%;
        .bold {
          font-size: 16px;
        }
    }
  }
}