.item_image {
  width: 100%;
  display: block;
}

.tabs__item {
  display: none;

  &.active {
    display: block;
    color: $color-black;
    text-align: center;
  }
}

.tabs {
  width: 100%;
  .good_docs {
    margin-left: 0;
  }
}

.tabs__buttons {
  list-style-type: none;
  display: flex;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
  margin-bottom: 40px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 100%;
  border-bottom: 1px dotted #ccc;
}

.tabs__item {
  position: relative;
  img {
    width: 100%;
  }
}

.tabs__btn {
  margin:  0 20px;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  font-family: $font-family_semibold;
  transition: 0.3s ease-out;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      color: $color-coral;
      border-bottom: 1px dotted $color_coral;
      transition: 0.3s ease-out;
    }
}

.tabs__btn_active {
  color: $color-coral;
  border-bottom: 1px dotted $color_coral;
  transition: 0.3s ease-out;
}

.tabs__content {
  width: 100%;
}
