.catalog_tile {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
    .item {
      width: calc(33.3333% - 22px);
      margin-right: 32px;
      margin-bottom: 32px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
}

.tile {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tile_4 {
  .tile__item {
    width: calc(25% - 24px);
    margin-right: 32px;
    margin-bottom: 32px;
    &:nth-child(4n+4) {
      margin-right: 0;
    }
  }
}

.tile_2 {
  .tile__item {
    width: calc(50% - 16px);
    margin-right: 32px;
    margin-bottom: 32px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.tile_icons {
  padding-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid #E0E0E0;
  img {
    margin-bottom: 12px;
  }
  p {
    font-family: $font-family_semibold;
    line-height: 24px;
    max-width: 85%;
  }
}

.tile_check {
  margin-top: 60px;
  .tile__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 60px;
  }
  img {
    margin-right: 20px;
  }
  .text {
    .text16 {
      font-family: $font-family_semibold;
      margin-bottom: 12px;
    }
  }
}

.loop {
  stroke: $color-black;
}

.gallery_tile {
  .item:hover {
    .right {
      .loop {
        stroke: #fff;
      }
    }
  }
}

.tile_cabinet {
  width: 100%;
  .tile__item {
    border: 1px solid #ccc;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    color: $color-black;
    text-decoration: none;
    transition: 0.3s ease-out;
      .top {
        width: 100%;
        padding: 26px 16px;
        border-bottom: 1px solid #ccc;
        font-family: $font-family_semibold;
        font-size: 14px;
        transition: 0.3s ease-out;
          span {
            opacity: 0.5;
          }
      }
    .catalog {
      font-family: $font-family_medium;
    }
      .text_item {
        width: 100%;
        padding: 20px 16px;
        font-size: 13px;
      }
    &:hover {
      border: 1px solid $color_coral;
      transition: 0.3s ease-out;
        .top {
          color: $color_coral;
          transition: 0.3s ease-out;
        }
    }
  }
}

.download {
  display: flex;
  align-items: stretch;
  flex-direction: row;
    .top {
      border-right: 1px solid #ccc;
      border-bottom: 0 !important;
      transition: 0.3s ease-out;
    }
    .download {
      width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: 0.3s ease-out;
    }
  &:hover {
    .download {
      transition: 0.3s ease-out;
      background-color: $color_coral;
        svg path {
          fill: #fff;
        }
    }
  }
}

.tile__item {
  .bold {
    margin-bottom: 12px;
  }
}

.tile_texts {
  margin-bottom: 40px;
}

.catalog_list.catalog_tile .item {
  width: 100%;
  margin-right: 0;
  flex-direction: row;
  align-items: stretch;
    .item_infobox {
      border-left: 1px solid #ccc;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
}